bin
bin_eth
build
debug
dep
obj
dev-env
src/glyphs.c
src/glyphs.h
*.core
.idea
gitignore
.vagrant
libsol/target
myenv
.vscode/settings.json
.vscode/extensions.json
# Python
__pycache__
.egg
.pyc
*~

tests/elfs/
tests/python/snapshots-tmp/
