bin
bin_eth
build
debug
dep
obj
dev-env
ledger
src/glyphs.c
src/glyphs.h
*.core
.idea
gitignore
.vagrant
lib/target
myenv
.vscode/extensions.json
# Python
__pycache__
.egg
.pyc
*~
opt
tests/elfs
tests/snapshots-tmp/
.DS_Store
